@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Quicksand:wght@400;500;600;700&display=swap");

a {
  text-decoration: none;
}
.MuiCardHeader-title {
  font-size: 1.1rem !important;
  font-weight: 500 !important;
  padding: 8px !important;
}

.app-container {
  margin-left: 230px;
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 620px) {
  .app-container {
    margin-left: auto;
  }
}
